/* nav {
    margin: 10px;
}

#carouselExampleIndicators {
    margin: 10px;
}

.carousel-inner {
    max-width: 100%;
    height: auto;
}

.carousel-inner img {
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.container {
    max-width: 100%;
    margin: 0px;
    padding: 0px;
}

.hossein {
    max-width: 100%;
    margin: 10px;
    padding: 0px;
    float: left;
}

 */

.hossein img {
    width: 100%;
    max-height: 150px;
}

.hossein p {
    text-align: center;
}

footer {
    background-color: gray;
}